@media screen and (max-width: 1920px)
  .hero
    &__seo
      bottom: 22.5rem
@media screen and (max-width: 1670px)
  .hero
    &__seo
      display: none
  .footer
    &__container
      margin-left: 230px
@media screen and (max-width: 1530px)
  .footer
    &__container
      margin-left: 175px
@media screen and (max-width: 1475px)
  .footer
    &__container
      margin-left: 150px
    &__title
      font-size: 2.2rem
@media screen and (max-width: 1375px)
  .services
    &__block
      display: flex
      align-items: baseline
    &__col
      &--block
        margin-right: 51px
        margin-top: 38px
@media screen and (max-width: 1280px)
  .hero
    &__img
      display: none
  .footer
    &__container
      margin-left: 50px
    &__title
      font-size: 2rem