@media screen and (max-width: 1228px)
  html
    font-size: 12px
  .hero__icons
    top: 8rem
    left: -59.7rem
  .services__col:nth-child(3)
    margin-right: 51px
  .swiper-button-prev__casesleft, .swiper-button-next__casesright
    top: 96.5%
@media screen and (max-width: 1136px)
  .advantages__block
    justify-content: center
@media screen and (max-width: 992px)
  html
    font-size: 10px
  .nav
    display: none
  .hero
    &
      background: none
    &__container
      width: 95%
      max-width: 1170px
      margin: auto
    &__img
      display: none
    &__content
      margin: auto
      margin-top: 10.55rem
    &__title
      width: auto
    &__text
      width: auto
    &__seo
      display: none
    &__icons
      display: none
  .data__video--play
    &
      width: 73px
      height: 73px
  .data__video--play::before
    &
      animation: none
      width: 102px
      height: 102px
  .services__col
    &
      max-width: 255px
      height: auto
      padding: 20px
  .price
    &__img
      display: none
    &__block
      max-width: 42.7rem
    &__col
      position: relative
      width: auto
      background: white
      padding-right: 3.6rem
      margin: auto
    &__form
      max-width: 42.7rem
    &__button
      margin-left: auto
  .cases
    &__row
      flex-direction: column
      align-items: center
    &__block
      background: none
  .col-cases2
    &
      width: auto
  .swiper-button-prev__feedbackleft, .swiper-button-next__feedbackright
    bottom: 0
    top: 49.3%
  .news
    &__col
      position: relative
      max-width: 789px
      height: 339px
      right: 0.25rem
      top: 52.8%
      margin: auto
  .swiper-button-prev__newsleft
    left: 30%
    top: 83.5%
  .swiper-button-next__newsright
    left: 60%
    top: 83.5%
  .swiper-button-prev__newsleft:hover, .swiper-button-next__newsright:hover
    background: none
  .footer
    &
      display: block
    &__block
      justify-content: center
    &__col-1
      max-width: none
    &__title
      text-align: center
      margin-top: 2.28rem
    &__worktime
      justify-content: center
      margin-bottom: 2rem
    &__img
      display: none
    &__block2
      background: $red
    &__col-2
      margin: auto
      max-width: 48.55rem
    &__button
      margin-left: auto
@media screen and (max-width: 755px)
  .hero
    &__content
      padding-bottom: 65rem
  .data
    &__chart
      flex-direction: column
      margin-top: -53rem
      max-width: 400px
  .services
    &__block
      flex-direction: column
      align-items: center
    &__col
      margin: auto
      margin-bottom: 2.7rem
    &__col:nth-child(3)
      margin: auto
      margin-bottom: 2.7rem
  .swiper-button-prev__feedbackleft, .swiper-button-next__feedbackright
    bottom: 0
    top: 86.3%
@media screen and (max-width: 372px)
  .swiper-button-prev__newsleft
    left: 30%
    top: 90.5%
  .swiper-button-next__newsright
    left: 60%
    top: 90.5%
@media screen and (max-width: 326px)
  .swiper-button-prev__newsleft
    left: 30%
    top: 96.5%
  .swiper-button-next__newsright
    left: 60%
    top: 96.5%