.container
  &__text
    &--advantages
      max-width: 797px
      margin: auto
      text-align: center
      margin-bottom: 4.47rem
      margin-right: 13.75rem
.advantages
  &__hero
    margin-top: 6rem
    text-align: center
    margin-bottom: -0.15rem
  &__block
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: space-between
  &__col
    &
      display: flex
      flex-direction: column
      align-items: center
      width: 360px
    &--title
      font-size: 1.42rem
      font-weight: 700
      line-height: 37.33px
      margin-top: 0.4rem
      margin-bottom: 0
    &--text
      width: 312px
      font-size: 1.14rem
      line-height: 22px
      margin-top: 0.6rem
      letter-spacing: -0.1px
    &--block1
      margin-left: 1rem
      margin-right: 2rem
    &--block2
      margin-left: 1.2rem
      margin-right: 3.05rem
    &--block3
      margin-left: 1.2rem
      margin-right: 2.2rem
    &--block4
      margin-left: 1rem
      margin-right: 2.5rem
    &--textmoney
      margin-top: 0.5rem
    &--money
      width: 42px
      height: 42px
    &--textface
      margin-top: 0.45rem
    &--face
      width: 41px
      height: 46px
    &--textchecklist
      margin-top: 0.5rem
    &--checklist
      width: 38px
      height: 30px
    &--textgroup
      margin-top: 0.4rem
      width: 300px
    &--group
      width: 45px
      height: 40px
      margin-top: 1.9rem
    &--textresourse
    &--resourse
      width: 39px
      height: 32px
    &--textreport
      margin-top: 0.3rem
    &--report
      width: 40px
      height: 40px