.price
  &
    background: url('../img/bg4.jpg') no-repeat center
    padding-top: 6rem
    padding-bottom: 5.5rem
  &__img
    position: absolute
    right: 26.5rem
    top: 266.35rem
  &__title
    font-size: 2.14rem
    font-weight: 500
    line-height: 35px
    text-align: center
    margin-top: 5.7rem
    margin-bottom: 2.5rem
    z-index: 1
  &__block
    position: relative
  &__form
    display: flex
    flex-direction: column
    padding-left: 1.7rem
    padding-right: 2.35rem
    max-width: 47.14rem
    position: absolute
    z-index: 1
  &__input
    &
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 0.8rem
    &--group
      margin-top: -0.6rem
  &__button
    margin: auto
    margin-top: 1.5rem
    margin-bottom: 6.24rem
    margin-left: 11.3rem
    padding: 13px 42px 18px 42px