.price
  &
    background: url('../img/bg4.jpg') no-repeat center
    height: 755px
    padding-top: 6rem
  &__img
    position: absolute
    right: 26.14rem
  &__title
    font-size: 2.14rem
    font-weight: 500
    line-height: 35px
    text-align: center
    margin-top: 5.85rem
    margin-bottom: 2.5rem
  &__form
    background-color: white
    display: flex
    flex-direction: column
    padding-left: 1.82rem
    padding-right: 1.8rem
    max-width: 47.14rem
  &__input
    &
    &--group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 1.45rem
  &__button
    margin: auto
    margin-top: 1.5rem
    margin-bottom: 6.05134rem
    padding: 13px 42px 18px 42px