.price
  &
    background: url('../img/bg4.jpg') no-repeat
    height: 755px
    padding-top: 6rem
  &__img
    position: absolute
    right: -0.1rem
    top: 0.05rem
  &__title
    font-size: 2.14rem
    font-weight: 500
    line-height: 35px
    text-align: start
    margin-top: 0.25rem
    margin-left: 14.9rem
    margin-bottom: 2.5rem
    padding-top: 5.7rem
  &__col
    background-color: white
  &__form
    background-color: white
    display: flex
    flex-direction: column
    padding-left: 3.82rem
    padding-right: 4.2rem
    max-width: 47.14rem
  &__block
    position: relative
  &__input
    &
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 0.8rem
    &--group
      margin-top: -0.6rem
  &__button
    margin: auto
    margin-top: 1.5rem
    margin-bottom: 6.24rem
    margin-left: 11.6rem
    padding: 13px 42px 18px 42px